body{font-family: 'Oswald', sans-serif;
         margin:0;}
    


.menubar ul {display:inline-block;float:right;}
.menubar ul li{list-style: none;
                font-size: 14px;
            font-weight: bold;
             color:#FF5200;
            float:right;
            padding:0px 35px;
            margin-top:5px;
            display:inline-block;
        }

.menubar h2{display:inline-block;
    color:purple;
    font-size: 30px;
    margin-top: 8px;
    padding:0px 80px;
    letter-spacing: 2px;
            
}.menubar h2 span{color: rgba(12, 167, 161, 0.993)} 

.myself{height:400px;}

.myself-details{width:500px;
                float:left;
                height:400px;
                padding:0px 80px;}

.myself-img{width:500px;float:right;}

.myself-img img{width:70%;
                margin-left:100px;}
#hello {
    font-size: 30px;
    background-color:#05C2C9;
    color:white;
    display: inline-block;
    padding: 7px 70px;
    text-align: center;
}
#name {
    color: #05C2C9;
    font-size: 35px;
    margin-top: -6px;
    text-align: center;
}
.myself-details p a{text-decoration: none;
                        color:#05C2C9;}

.myself-details p {
                text-align: center;
                 font-size: 16px;
                 width: 416px;
                letter-spacing: .5px;
                margin-top: -8px;
                 color: #6b3b3ba3;}  
                 
.myself-details button {
                text-align: center;
                 padding: 10px 35px;
                 font-size: 12px;
                 background-image: linear-gradient(45deg,#05C2C9,#207575);
                 color: #f1f1f1;
                 border: none;
                 border-radius: 5px;
                 margin-left: 146px;
                 margin-top: 15px;
                 font-weight: 700;
                }   
                
.myabout-img {
                 width: 400px;
                 float: left;
                }
                
.myabout-img img {
                width: 111%;
                margin-left: 80px;
                }
                
.myabout-details {
                width: 400px;
                float: right;
                margin-right: 45px;
                }
.myabout-details h1 {
                font-size: 30px;
                color: #ffffffeb;
                text-align: center;
                background-image: linear-gradient(45deg, #FAC961, #ff5708);
                margin-top: 15px;
                padding: 10px;
                } 
.myabout-details ul li h3{font-size:20px;
                color:#FF5200}  

.myabout-details ul p {
                color: #613838a3;
                margin-top: -18px;
                        }


.myabout-details button {
                font-size: 13px;
                font-weight: 700;
                background-image: linear-gradient(45deg, #FAC961, #d65314);
                border: none;
                padding: 13px 20px;
                margin-bottom: 100px;
                border-radius: 5px;
                color: #5a3b3ba3;
                margin-left: 161px;
                margin-top: 6px;
                        } 
.myproject {
                width: 100%;
                margin-top: 500px;
                background-color: #F8F9FC;
                padding-bottom:80px;
                        }                      
.myproject h1 {
    color: #847d7d;
    text-align: center;
    padding-top: 45px;
    font-size: 35px;
    letter-spacing: 1px;
    padding-bottom: 20px;
                        } 
.projectpicbox1 {
                margin: 0px 60px;
                width: 300px;
                display: inline-block;
                box-shadow: 1px 1px 15px grey;
                height: 350px;
                border:10px solid #f3f3f3;
                border-radius:10px;
                        }
                        
.projectpicbox2 {
                width: 300px;
                float: left;
                margin: 0px 80px;
                box-shadow: 1px 1px 15px grey;
                height: 350px;
                border:10px solid #f3f3f3;
                border-radius:10px;
                        }
                        
.projectpicbox3 {
                width: 300px;
                float: left;
                margin: 0px 54px;
                box-shadow: 1px 1px 15px grey;
                height: 350px;
                border:10px solid #f3f3f3;
                border-radius:10px;
                        }
                        
.projectpicbox1 img {
                width: 100%;
                height: 180px;
                        }
                        
.projectpicbox2 img {
                width: 100%;
                height: 180px;
                        }
                        
.projectpicbox2 h2 {
                text-align: center;
                margin-top: 10px;
                font-size: 20px;
                color: #a09292;
                        }
                        
.projectpicbox2 p {
                font-size: 12px;
                text-align: center;
                color: #8c7a7a;
                        }
                        
.projectpicbox3 img {
                width: 100%;
                height: 180px;
                        }
                        
.projectpicbox3 h2 {
                font-size: 20px;
                text-align: center;
                margin-top: 10px;
                color: #a09292;
                        }
                        
.projectpicbox3 p {
                font-size: 12px;
                text-align: center;
                color: #8c7a7a;
                        }
                        
.projectpicbox1 h2 {
                font-size: 20px;
                text-align: center;
                margin-top: 10px;
                color: #a09292;
                        }
                        
.projectpicbox1 p {
                font-size: 12px;
                text-align: center;
                color: #8c7a7a;
                        }   
                        
.workqueirybox {
                width: 787px;
                height: 190px;
                background-image: url(images/Group_33094_1.png);
                background-size: cover;
                background-repeat: no-repeat;
                margin-left: 267px;
                margin-top: 100px;
                margin-bottom: 100px;
                border-radius: 30px;
                        } 

.workqueirybox h1 {
                color: #f9f9f9;
                width: 455px;
                display: inline-block;
                font-size: 67px;
                margin-left: 100px;
                margin-top: 48px;
                font-weight: bold;
                        }
                        
.workqueirybox button {
                padding: 12px 13px;
                background-image: linear-gradient(45deg,#2020c1,#07e2e22e);
                border: none;
                border-radius: 5px;
                color: #f9f9f9;
                font-weight: bold;
                width: 114px;
                display: inline-block;
                        } 
                        
                        .getin {
                            width: 600px;
                            margin-left: 370px;
                            height: 168px;
                        }
                            
                            
                            h1.getinh1 {
                                text-align: center;
                                font-size: 30px;
                                color: #ff5200;
                                font-weight: 700;
                            }
                            
                           
                            
                            .email {
                                width: 250px;
                                display: inline-block;
                            }
                            
                            .email span {
                                margin-left: 28px;
                            }
                            
                            .plan {
                                width: 250px;
                                float: right;
                                margin-top: 0px;
                                display: inline-block;
                            }
                            
                            .message {
                                display: inline-block;
                                padding-top: 24px;
                                margin-left: 170px;
                            }
                            
                            button.sendme {
                                margin-left: 636px;
                                padding: 8px 20px;
                                background: linear-gradient(45deg, #353235, #ad4fad38);
                                color: white;
                                border: none;
                                border-radius: 5px;
                            }


                            .staybox h3 {
                                text-align: center;
                                margin-top: 70px;
                                color: #868282;
                            }

                            .staybox h1 {
                                text-align: center;
                                color: #9a9393;
                                margin-top: -15px;
                            }


                            img#png6 {
                                margin-left: 625px;
                                width: 30px;
                            }
                            
                            img#png7 {
                                width: 30px;
                            }
                            
                            img#png33 {
                                width: 30px;
                            }
